//created by Amit on 5/5/14.
.container
    .col-lg-12
        label
            h1
                | Connecting the Inside Out…
    .col-lg-12.panel#about
            span.col-lg-6(style='text-align:justify;bottom:80px;position:absolute;width:400px')
                p We have always taken pride in our culture. There are some core values that have been inherent and are an integral part of our success story. These values are a pure reflection of what is important to us as a Team and Business.
            .col-lg-6